@import "../bulmaVariables.scss";

.day-container {
  width: 500px;

  &__card-info {
    width: 350px;
  }

  &__checkbox {
    width: 150px;
  }

  &__input {
    margin-right: 8px;
    width: 90px;
  }

  &__input-save {
    height: 20px;
  }

  &__weight {
    align-items: center;
  }
}
